 /* --------Product Card-------- */

 .card-container {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-auto-rows: max-content;
    place-content: center;
    place-items: center;
    gap: 2rem;
    padding: 3rem;
}

.card-container h2 {
    grid-column: span 5;
    font-size: 50px;
    color: #333;
}

.card {
    /* height: 410px; */
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.5s;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 20px;
}

.card-img img {
    height: 275px;
    width: 225px;
}

.card-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 15px;
    background-color: #fff;
    color: #333;
    width: 220px;
    transition: transform .5s;
}

.product-detail p {
    margin-bottom: 5px;
    font-size: 17px;
}

.product-detail p:nth-child(1) {
    font-weight: 600;
    color: #666;
}

.product-detail span {
    font-size: 15px;
    margin-right: 5px;
}

.discount-price {
    font-weight: 600;
}

.real-price {
    text-decoration: line-through;
    color: #666;
}

.discount-percentage{
    color: darkgreen;
    font-weight: 600;
}

.card-content button {
    align-self: center;
    height: 40px;
    width: 200px;
    font-size: 16px;
    color: #fff;
    background-color: #FC4F00;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.card-content button i {
    margin-left: 10px;
}

.card:hover .card-content {
    transform: translateY(-25px);
}